.settings-setting {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-setting i {
    opacity: 0.8;
    margin-right: 20px;
    font-size: 22px;
}

@keyframes settingIconMove {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: none;
    }
}
.settings-setting:hover i {
    animation: settingIconMove 1.3s ease-in-out infinite;
}

.settings__setting-column:last-child {
    opacity: 0.5;
}
